
    <form action='@Url.Action("GuardarTemporada", "Home", new{IdTemporada= @ViewBag.IdTemporada})' method="post"
        enctype="multipart/form-data">
        <label for="inputPassword5" class="form-label colorTexto" style="color: white;">Nombre</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
            name="NombreTemporada">
        <div class="form-text">
        </div>
        <label for="inputPassword5" class="form-label" style="color: white;">Fecha de Inicio</label>
        <input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
            name="FechaInicio">
        <div class="form-text">
        </div>
        <br>
        <label for="inputPassword5" class="form-label" style="color: white;">Fecha de fin</label>
        <input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
            name="FechaFin">
        <br>
<<<<<<< HEAD
        <label for="inputPassword5" class="form-label" style="color: white;">Info de la temporada</label>
       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="InfoTemporada"></textarea>
=======

        <label for="inputPassword5" class="form-label" style="color: white;">Info de la temporada</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
            name="InfoTemporada">

>>>>>>> 87fbd348103f296a87347b0aca8c7c7eeac740e7
        <br>
        <label for="inputPassword5" class="form-label" style="color: white;">Capitulos</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"
            name="Capitulos">
        <br>
        <label class="form-label" for="customFile" style="color: white;">Foto de la temporada</label>
        <input type="file" name="Foto"style="color: white;" />
        <br>
        <br>

    <label for="exampleFormControlSelect1" style="color: white;">Donde se lleva a cabo la temporada</label>
        <div class="form-text" id="exampleFormControlSelect1">
            <select name="IdMar">   
                 @foreach (Mar item in ViewBag.ListaMares)
                 {
                    <option value="@item.IdMar">@item.NombreMar</option>
            }
            </select>
        </div>
        <br>
        <br>
        <input type="hidden" name="IdTemporada" value="@ViewBag.IdTemporada">
        <input type="submit" value="Submit">
    </form>
